body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.station-popup {
    width: 250px;
}

.station-content {
    padding: 5px;
}

.station-popup .leaflet-popup-content {
    margin: 0px;
    padding-top: 10px;
}

.station-popup .leaflet-popup-close-button {
    margin-top: 12px;
}

.station-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 0px;
}

.station-popup .leaflet-popup-content-wrapper, .station-popup .leaflet-popup-tip {
    background: black;
    color: white;
}

.station-name {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    border-top: 5px solid white;
}

textarea.station-name-edit {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    height: 1em;
    width: 200px;
    margin: 0px;
    padding: 5px;
}

.station-info {
    font-size: 1em;
}

.station-buttons {
}

.station-content-button {
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    background-color: #333333;
}

.station-delete {
    float: right;
}

.station-build {
    float: right;
}

.station-transfer {
    float: right;
    text-align: center;
}

.subway-lines {
    
}

.subway-line-group {
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    border: 1px solid #999;
}

.subway-line {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    width: 28px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    position: relative;
    display: inline-block;
    margin: 2px;
}

.subway-line .height_fix {
    margin-top: 100%;
}
.subway-line .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -6px; /* Note, this must be half the font size */
}

.subway-line-mini {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    width: 14px;
    padding: 4px;
    font-size: 8px;
    font-weight: bold;
    line-height: 1em;
    position: relative;
    display: inline-block;
    margin-top: -2px;
    top: 2px;
}

.subway-line-mini .height_fix {
    margin-top: 100%;
}
.subway-line-mini .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -4px; /* Note, this must be half the font size */
}

.subway-clickable {
    cursor: pointer;
}

.subway-selected {
    border: 2px solid black;
}

.subway-blue {
    background-color: #0039A6;
}

.subway-orange {
    background-color: #FF6319;
}

.subway-light-green {
    background-color: #6CBE45;
}

.subway-brown {
    background-color: #996633;
}

.subway-silver {
    background-color: #A7A9AC;
}

.subway-yellow {
    background-color: #FCCC0A;
    color: black;
}

.subway-light-yellow {
    background-color: #FFF200;
    color: black;
}

.subway-gray {
    background-color: #808183;
}

.subway-red {
    background-color: #EE352E;
}

.subway-green {
    background-color: #00933C;
}

.subway-purple {
    background-color: #B933AD;
}

.subway-turquoise {
    background-color: #1E9DBF;
}

.subway-black {
    background-color: #212121;
    font-size: 10px;
    margin-top: -5px;
}

#route-diagram {
    overflow-y: scroll;
    padding-right: 20px;
    max-height: 200px;
}

.route-diagram-name {
    font-size: 12px;
    display: inline-block;
}

.route-diagram-transfers {
    display: inline-block;
    margin-left: 5px;
}

#options {
    position: absolute;
    padding: 10px;
    right: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 5;
    height: 90%;
    overflow: hidden;
    width: 25%;
}

#system-status {
    position: absolute;
    padding: 10px;
    left: 5px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 5;
    height: 10%;
    overflow: hidden;
}

.game-button {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}